<form (ngSubmit)="onSubmit()" #inputForm="ngForm">
    <div class="form-group">
        <h1>Calculate Stride (optional)</h1>
        <h2>Option 1: Average Stride</h2>
        <label for="sex">For a </label>
        <select class="form-control" id="sex" (change)="onSexChange($event)">
          <option [value]='true'>{{'Man'}}</option>
          <option [value]='false'>{{'Woman'}}</option>
        </select>
        <h3>{{averageStepLength}} m</h3>
        <h2>Option 2: Actual Stride</h2>
        <label for="stepLength">{{'Actual Step Length (m)'}}</label>
        <input type="number" class="form-control" id="stepLength"
           [(ngModel)]="actualStepLength" name="stepLength" (change)="onInputChange()">
        <div>
        <h1>Calculate Distance</h1>
          <label for="activity">Activity</label>
            <select class="form-control" id="activity" required  name="activity"
             [(ngModel)]="model.activity" (change)="onInputChange()">
             @for (type of typesOfSports; track type){
               <option  [value]="type">{{type}}</option>
             }
            </select>
            <!-- <app-input-options-search></app-input-options-search> -->
            <label for="timeMin">{{'Time in minutes'}}</label>
            <input type="number" class="form-control" id="timeMin"
               [(ngModel)]="model.timeMin" name="timeMin" (change)="onInputChange()">
          <div>
            <label for="isMiles">Distance Units </label>
                <select class="form-control" id="isMiles" name="isMiles" [(ngModel)]="model.isMiles"  (change)="onInputChange()">
                <option [ngValue]=true>{{'Miles'}}</option>
                <option [ngValue]=false>{{'Km'}}</option>
                </select>
          </div>        
    </div>
    </div>
</form>
